{{#each this}}
<div>
	<h4>{{title}}</h4>
	<button class="deleteBtn" title="{{title}}" image="{{poster}}">x</button>
	<div><img src="{{poster}}"></div>
	<button class="add" title="{{title}}" image="{{poster}}"></button>

	<input id={{imdbID}} type="number" class="rating" data-min="0" data-max="10" data-step="1" data-show-clear="false" data-show-caption="false" data-size="xs">
</div>
{{/each}}