{{#each this}}
<div>
	<h4>{{title}}</h4>
	<button class="deleteBtn" title="{{title}}" image="{{poster}}">x</button>
	<div><img src="{{poster}}"></div>
	<button class="add" title="{{title}}" image="{{poster}}">Stars!!</button>
</div>
{{/each}}