{{#each this}}
<div>
  <div class="col-sm-3 col-xs-12">
	  <h4>{{title}}</h4>
	  <button class="deleteBtn" title="{{title}}" image="{{poster}}">x</button>
	  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{imdbID}}"><img src="{{poster}}"></button>
		<button class="favorites" title="{{title}}" image="{{poster}}" imdbID="{{imdbID}}" actors="{{actors}}" year="{{Year}}">Favorites</button>
	</div>
</div>


<!-- Modal -->
<div id="{{imdbID}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{actors}}</p>
        <p>{{year}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>


</div>
{{/each}}